.notFound {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #000;

  .notFound__container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);

    .notFound__heading {
      text-align: center;
      color: #fff;
    }

    .notFound__heading--main {
      font-size: 50px;
    }

    .notFound__heading--sub {
      padding-top: 40px;
      font-size: 34px;
    }

    .notFound__heading--description {
      margin-top: 40px;
      font-size: 24px;
    }
  }
}
