.terms {
  padding: 80px;
  color: #333;
  background: #f4f4f4;
}

.terms__main {
  text-align: center;
  font-weight: 100;
  padding-bottom: 50px;
  font-size: 40px;
}
.terms__heading {
  margin-top: 70px;
  text-align: center;
  font-size: 22px;
  font-weight: 800;
}

.terms__description {
  margin-top: 40px;
  line-height: 50px;
  font-size: 18px;
}

.terms__return {
  margin-top: 80px;
  width: 100%;
  text-align: center;
}
.terms__return__link {
  color: #333;
  font-size: 16px;
}

@media (max-width: 800px) {
  .terms {
    padding: 60px;
  }

  .terms__main {
    font-size: 34px;
  }

  .terms__heading {
    font-size: 18px;
  }

  .terms__description {
    font-size: 14px;
  }
}

@media (max-width: 640px) {
  .terms {
    text-align: center;
    padding: 45px;
  }
  .terms__main {
    font-size: 30px;
  }
}

@media (max-width: 450px) {
  .terms {
    padding: 30px;
  }

  .terms__description {
    line-height: 35px;
  }
}
